<div class="content" style="height: 100%;overflow:hidden;">
    <h5 class="ui sub blue left floated header">Select Filters</h5>
    <div class="ui mini right floated buttons">
        <button class="ui mini icon button expand-all">
            <i class="plus icon"></i>
        </button>
        <button class="ui mini icon button collapse-all">
            <i class="minus icon"></i>
        </button>
    </div>
    <div class="ui tiny hidden clearing divider"></div>
    <div class="ui medium list facet-list" style="height: 100%;overflow: auto;">
        {{#each facets}}
        <div class="item facet-item">
            <div class="content">
                <div class="facet-item-header cursor-pointer">
                    <i class="right triangle icon"></i>
                    <span>{{name}}</span>
                </div>
                <div class="description facet-item-description" style="display:none;">
                    <div class="ui small list">
                        {{#each facetValues}}
                        <div class="item">
                            <input style="height:0.85em;" id="{{label}}-{{@index}}" {{Checked selected}} {{Disabled disabled}} class="facet-value-checkbox cursor-pointer" value="{{../id}}:{{label}}" type="checkbox"/>
                            <label style="font-size:0.85em;" class="cursor-pointer" for="{{label}}-{{@index}}">{{label}} ({{count}})</label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>