{{#if filters.length}}
<div class="content facet-subheader gui fluid-w basic curved p-5">
    <span class="gui gui-subheading-2 caps">Applied Filters</span>
    <button class="gui m-l-5 remove-all" >
        <i class="gui-icon gui-icon-cancel"></i>
        <span>Clear All</span>
    </button>
    <span class="gui m-l-10">
        {{#each filters}}
        <span class="gui m-r-5">
            <span class="gui large labels facet-labels">
                <span class="gui gui-subheading-1">{{name}}</span>
                {{#each facetValues}}
                <button class="gui m-0 m-t-2 m-r-2 p-4 label cursor-pointer strikethrough-hover" data-filter-entry="{{../id}}:{{this.label}}:{{../type}}">
                    {{label}}
                    <i class="gui-icon gui-icon-cancel"></i>
                </button>
                {{/each}}
                {{#each facetRanges}}
                <button class="gui m-0 m-t-2 m-r-2 p-4 label cursor-pointer strikethrough-hover" data-filter-entry="{{../id}}:{{this.label}}:{{../type}}:true">
                    {{Range min max ../type}}
                    <i class="gui-icon gui-icon-cancel"></i>
                </button>
                {{/each}}
            </span>
        </span>
        {{/each}}
    </span>
</div>
{{/if}}