{{#if nonFavorites.length}}
<li class="gui m-0 p-r-10 p-t-5 p-b-5 p-l-10" 
    aria-label="All Filters"
    data-attr-value="All Filters"
    data-attr-ignoreForSearch="true"
    aria-expanded="true"
    {{!-- aria-live="polite" --}}
    aria-relevant="all"
    aria-atomic="true"
    role="treeitem"
    id="{{idPrefix}}-unpinned-filter-tree">
    <h6 class="gui gui-subheading-2 caps bold-500 m-b-10 flex jc-sb">
        All FILTERS
        <i class="gui gui-icon selectable gui-icon-chevron-up expansion-icon m-t-5 m-r-10 cursor-pointer"></i>
    </h6>
    <ul aria-labelledby="{{idPrefix}}-unpinned-filter-tree" class="gui m-0 p-0" role="tree">
        {{#each nonFavorites}}
        <li aria-label="{{name}}"
            class="gui item facet-item border-bottom light p-r-10 p-t-5 p-b-5 p-l-5 {{Collapsed collapsed}}"
            role="treeitem"
            aria-expanded="{{Boolean collapsed true}}"
            data-attr-id="{{id}}" 
            data-attr-value="{{name}}">
            <div class="facet-item-header fluid gui item flex jc-sb">
                <span tabindex="0" class="gui primary gui-subheading-1 caps m-0 cursor-pointer" title="{{name}}">
                    {{name}} {{{SelectedFiltersCount facetValues}}}
                </span>
                <span>
                    <i  data-attr-id="{{id}}" 
                        class="gui gui-icon selectable pin-unpin-selector gui-icon-pin m-t-5 m-r-10 pin-icon cursor-pointer" 
                        aria-label="{{name}} UnPinned filter. Press enter or space to pin filter"
                        title="Pin filter"
                        role="button"
                        tabindex="0"></i>
                    {{#if collapsed}}
                        <i tabindex="0" class="gui gui-icon selectable gui-icon-chevron-down expansion-icon m-t-5 m-r-10 cursor-pointer"></i>
                    {{else}}
                        <i tabindex="0" class="gui gui-icon selectable gui-icon-chevron-up expansion-icon m-t-5 m-r-10 cursor-pointer"></i>
                    {{/if}}
                </span>
            </div>
            {{> facet-label}}
        </li>
        {{/each}}
    </ul>
</li>
{{/if}}
