<div class="gui m-b-5 m-t-10 ">
    <span class="gui gui-subheading-1">
        ALL FILTERS
    </span>
</div>
{{#each nonFavorites}}
<div class="item facet-item gui m-t-6 {{Collapsed collapsed}}" data-attr-id="{{id}}" data-attr-name="{{name}}">
    <div class="content">
        <div class="facet-item-header fluid gui item flex jc-sb">
            <span class="gui gui-subheading-1 primary m-0 expansion-icon cursor-pointer" tabindex="0">
                {{name}} {{{SelectedFiltersCount facetValues}}}
            </span>
            <span>
                <i data-attr-id="{{id}}" class="gui gui-icon selectable primary gui-icon-pin m-t-5 pin-icon m-r-10 cursor-pointer" tabindex="0"></i>
                {{#if collapsed}}
                    <i class="gui gui-icon selectable gui-icon-chevron-up primary expansion-icon m-t-5 m-r-10 cursor-pointer" tabindex="0"></i>
                {{else}}
                    <i class="gui gui-icon selectable gui-icon-chevron-down primary expansion-icon m-t-5 m-r-10 cursor-pointer" tabindex="0"></i>
                {{/if}}
            </span>
        </div>
        <div class="clear"></div>
        <div class="description gui {{Hidden collapsed true}} facet-item-description m-t-2 m-l-5">
            <div class="gui fluid-w m-0 p-0">
                {{#each facetValues}}
                <div class="gui item {{CheckLength @index ../../noOfFacetToShow}}">
                    {{#if selected}}
                    <label data-attr-value="{{label}}" title="{{label}}({{count}})" class="gui cursor-pointer no-wrap primary text-shorten m-0">
                        <input class="gui facet-value-checkbox cursor-pointer m-l-0" id="{{label}}-{{@index}}" {{Checked selected}} {{Disabled disabled}}
                            value="{{../id}}:{{label}}:{{../type}}" type="checkbox" /> {{label}}
                        <span class="gui gui-subheading-1 m-0">({{count}})</span>
                    </label>
                    {{else}}
                    <label data-attr-value="{{label}}" title="{{label}}({{count}})" class="gui cursor-pointer no-wrap text-shorten m-0">
                        <input class="gui facet-value-checkbox cursor-pointer m-l-0" id="{{label}}-{{@index}}" {{Checked selected}} {{Disabled disabled}}
                            value="{{../id}}:{{label}}:{{../type}}" type="checkbox" /> {{label}}
                        <span class="gui gui-subheading-1 m-0">({{count}})</span>
                    </label>
                    {{/if}}
                </div>
                {{/each}}
                {{{ShowMoreLessLink facetValues ../noOfFacetToShow}}}
            </div>
        </div>
    </div>
</div>
{{/each}}
