<div class="gui container of-hidden">
    {{!--
    <h5 class="gui sub blue left floated header">Select Filters</h5> --}}
    <div class="gui mini right floated buttons">
        <button class="gui mini icon button expand-all">
            Expand All
        </button>
        <button class="gui mini icon button collapse-all">
            Collapse All
        </button>
    </div>
    <div class="gui p-t-10 p-r-10 p-b-10">
        <input class="gui input fluidw gui-subheading-2" placeholder="Search Filters 1" />
    </div>
    <div class="gui fluid container facet-list of-auto">
        {{#each facets}}
        <div class="item facet-item m-b-10">
            <div class="content">
                <div class="facet-item-header cursor-pointer">
                    <i class="icon icon-accordion-expand"></i>
                    <span class="gui gui-subheading-1 bold primary">
                        {{name}} {{{SelectedFiltersCount facetValues}}}
                    </span>
                </div>
                <div class="description facet-item-description m-t-5">
                    <div class="gui small list m-0 p-0">
                        {{#each facetValues}} {{!--
                        <div class="gui item checkbox">
                            <input type="checkbox" id="{{label}}-{{@index}}" {{Checked selected}} {{Disabled disabled}} class="facet-value-checkbox cursor-pointer"
                                value="{{../id}}:{{label}}">
                            <label for="{{label}}-{{@index}}">{{label}} ({{count}})</label>
                        </div> --}}
                        <div class="item gui-body-2">
                            <input class="gui facet-value-checkbox gui-body-1 cursor-pointer m-l-0" id="{{label}}-{{@index}}" {{Checked selected}} {{Disabled
                                disabled}} value="{{../id}}:{{label}}" type="checkbox" /> {{#if selected}}
                            <label class="cursor-pointer primary" for="{{label}}-{{@index}}">
                                {{label}}
                                <span class="gui-caption">({{count}})</span>
                            </label>
                            {{else}}
                            <label class="cursor-pointer" for="{{label}}-{{@index}}">
                                {{label}}
                                <span class="gui-caption">({{count}})</span>
                            </label>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>