{{#if filters.length}}
<div class="content facet-subheader">
    {{!--
    <h5 class="gui sub blue floated left header">Applied Filters</h5>
    <div class="gui mini right floated buttons">
        <button class="gui mini icon button remove-all">
            <i class="icon icon-close"></i>
        </button>
    </div>
    <div class="gui tiny hidden clearing divider"></div>
    <table class="gui very compact small collapsing border-less table" style="border: none;;clear:both;">
        <tbod>
            {{#each filters}}
            <tr class="top aligned">
                <td>{{id}}</td>
                <td>
                    <span class="gui mini blue labels facet-labels">
                        {{#each facetValues}}
                        <span class="gui label remove-label" data-filter-entry="{{../id}}:{{this.label}}">
                            {{this.label}}
                            <i class="icon icon-close"></i>
                        </span>
                        {{/each}}
                    </span>
                </td>
            </tr>
            {{/each}}
        </tbod>
    </table> --}}
    <span class="gui gui-subheading-2">Filters</span>
    <a class="gui m-l-5 remove-all" href="#">
        <i class="gui-icon gui-icon-cancel"></i>
        <span>Clear All</span>
    </a>
    <span class="gui m-l-10">
        {{#each filters}}
        <span class="gui m-r-5">
            <span class="gui large labels facet-labels">
                <span class="gui gui-subheading-2">{{id}}</span>
                {{#each facetValues}}
                <span class="gui m-0 m-r-2 p-4 label cursor-pointer strikethrough-hover" data-filter-entry="{{../id}}:{{this.label}}">
                    {{label}}
                    <i class="gui-icon gui-icon-cancel"></i>
                </span>
                {{/each}}
            </span>
        </span>
        {{/each}}
    </span>
</div>
{{/if}}